//app
$APP_DEBUG = false;

// db config
$db_name = "kantine";
$db_host = "localhost";
$db_user = "root";
$db_password = "";

//email config
$mail_host = 'smtp.test.mail';
$mail_user = 'example@test.mail';
$mail_password = '';
$mail_port = 587;
$mail_from = 'example@test.mail';